<div class="container">

  <div class="col-md-6 col-md-offset-3">

   
      <%= form.label :email %>
      <%= form.text_field :email, class:'form-control'%>
   

    
      <%= form.label :password %>
      <%= form.password_field :password , class:'form-control'%>
  </div>

</div>



    <a href="/auth/facebook">
      <i class="fa fa-facebook"/>
      Log In with Facebook
    </a>


     
