<!-- /.carousel -->
<video  muted autoplay loop  id="background">
 <div class="carousel-caption" id="caption-1">
              <h1>Dream a little. Travel a lot.</h1>
              <p><a class="btn btn-lg btn-primary" href="/sign_up" role="button">Sign up today</a></p>
            </div>

<!-- <source src="polina.webm" type="video/webm"> -->

<source src="background5.mp4.mp4" type="video/mp4">

</video>


            <div class="carousel-caption" id="caption-1">
               <h1>At KevBnB, everthing is made easy for you.</h1>
              <h4>As the world's leading accommodations booking portal, we aim to make booking that holiday, easy. So you can forget about spending hours searching for that right place, as our team has curated a list you can trust.</h4>
              <p><a class="btn btn-lg btn-primary" href="/sign_up" role="button">Sign up today</a></p>
            </div>
          


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
    
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Still #1 booking app! <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Smooth interface. Extremely easy to navigate. My go to choice for booking accommodations abroad!</p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="http://s3.favim.com/orig/140823/eiffel-tower-flower-crown-girl-paris-Favim.com-2018080.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-8 col-md-push-4">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Search engine responds to searches at the speed of light! I would highly recommend this website to everyone I know! Will definitely come back to Niseko again. Credits to KevBnB!</p>
        </div>
        <div class="col-md-4 col-md-pull-8">
          <img class="featurette-image img-responsive center-block" src="https://farm8.staticflickr.com/7399/11396920164_3a6e557983_z.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">We booked a place in Bali for 3D2N and it was exactly as seen in the photos!! The apartment was also extremely clean and spacious. Would definitely use this website for future bookings!</p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="http://imgfave-chat-herokuapp-com.global.ssl.fastly.net/image_cache/1360413943489522.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      

    </div>