<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations <%=@customer.profile.name%>, your reservation with <%=@host.profile.name %> is confirmed.</h1>
    <p>
     You can see details of your new reservation here: <a href="http://localhost:3000/users/<%=@host.id%>/reservations/<%=@reservation_id%>">link</a>
    </p>
  </body>
</html>
