// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


footer {
 text-align: center;
}


#brand-image
{
  height: 150%;
 
  width: auto;
}

#welcome{
  margin-top: 15px;
}

#navbar{
  font-size: 14px;
  margin-top: 5px;
  font-family: Courier;
  letter-spacing: 2px;
}

.dropdown-menu{
  letter-spacing: 0px;
  font-size: 12px;
}

.navbar-right{
  letter-spacing: 0.5px;

}

.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 600px !important;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

#caption-1{
  color:black;
}

#table-listings{
  text-align: left;
}
#first-column{
  text-align:right;
}
th {
 text-align: center;
 font-size: 18px;
 letter-spacing: 4px;
 padding: 10px;
 background-color: gray;
 color: white ;
}
td {
  font-size: 14px;
  padding: 10px;
}
.last-column{
  border:none;
}

table{

}

.listing-name{
  letter-spacing: 2px;
  color: darkgray;
  font-family: Courier;
}

.price-title{
  color:black;
  text-align: center;
  padding-top:13px;
}

.table-col-name{
  text-align: center;

}

.search-bullets{
  font-size: 15px;
}

#searchForm {
  max-width:200px;
  margin-top:15px;
  background-color: transparent;
  border: none;
  outline: none;
}

.input-group{
  border: none;
  outline: none;

}

#srch-term{
  border: none;
  background: transparent;
  margin-left: 70px;
}

.btn.btn-default-1{
  border: none;
  background: transparent;
  margin-top: -5px;
  
}

.form-control-search{
    border: none;
  background: transparent;
}

#search-icon{
  padding-top: -15px;
}
